<!-- _includes/mastodon.html -->
<!-- Mastodon embed -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@idotj/mastodon-embed-timeline@4.4.2/dist/mastodon-timeline.min.css"
  integrity="sha256-1UGgxsonaMCfOEnVOL89aMKSo3GEAmaRP0ISbsWa6lU="
  crossorigin="anonymous"
/>

<script
  src="https://cdn.jsdelivr.net/npm/@idotj/mastodon-embed-timeline@4.6.0/dist/mastodon-timeline.umd.js"
  crossorigin="anonymous"
></script>


<div id="mt-container" class="mt-container" data-theme="light">
  <div class="mt-body" role="feed" data-theme="light">
    <div class="mt-loading-spinner"></div>
  </div>
</div>

<script>
  const myTimeline = new MastodonTimeline.Init({
    instanceUrl: "https://bloom.surf/",
    timelineType: "profile",
    userId: "110091151937405742",
    profileName: "@hspencer",
    theme: "light",
    limit: 4, // <- límite de toots
  });


</script>
