<!-- _includes/mastodon.html -->
<!-- Mastodon embed -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@idotj/mastodon-embed-timeline@4.4.2/dist/mastodon-timeline.min.css"
  integrity="sha256-1UGgxsonaMCfOEnVOL89aMKSo3GEAmaRP0ISbsWa6lU="
  crossorigin="anonymous"
/>

<script
  src="https://cdn.jsdelivr.net/npm/@idotj/mastodon-embed-timeline@4.4.2/dist/mastodon-timeline.umd.js"
  integrity="sha256-E6WPG6iq+qQIzvu3HPJJxoAeRdum5siq13x4ITjyxu8="
  crossorigin="anonymous"
></script>

<div id="mt-container" class="mt-container">
  <div class="mt-body" role="feed">
    <div class="mt-loading-spinner"></div>
  </div>
</div>

<script>
  const myTimeline = new MastodonTimeline.Init({
    instanceUrl: "https://bloom.surf/",
    timelineType: "profile",
    userId: "110091151937405742",
    profileName: "@hspencer",
    limit: 3, // <- límite de toots
  });
</script>
