<section id="perfil">
  <h2>Herbert Spencer</h2>
  <ul>
    <li>
      <a
        href="https://wiki.ead.pucv.cl/Herbert_Spencer"
        target="_blank"
        rel="noopener"
        >Perfil académico en Casiopea</a
      >
    </li>
    <li>
      <a href="http://herbertspencer.net" target="_blank" rel="noopener"
        >{dp} – doble página</a
      >
      &middot; Reflexiones y experimentos
    </li>
    <li>
      <a href="https://github.com/hspencer" target="_blank" rel="noopener"
        >GitHub · @hspencer</a
      >
      &middot; Repositorios y proyectos
    </li>
    <li>
      <a
        href="https://editor.p5js.org/hspencer/sketches"
        target="_blank"
        rel="noopener"
        >p5.js Web Editor</a
      >
      &middot; Sketches a lo largo de los años
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/herbertspencer/"
        target="_blank"
        rel="noopener"
        >LinkedIn</a
      >
    </li>
    <li>
      <a href="https://vimeo.com/hspencer" target="_blank" rel="noopener"
        >Vimeo · Videos y registros</a
      >
    </li>
    <li>
      <a href="https://bloom.surf/@hspencer" target="_blank" rel="me noopener"
        >Mastodon · @hspencer@bloom.surf</a
      >
    </li>
  </ul>
</section>
