{%- assign max_related = 5 -%} 
{%- assign current_tags = page.tags -%}

{%- if current_tags and current_tags != empty -%}

  {%- assign related = "" | split: "" -%}

  {%- for post in site.posts -%}
    {%- if post != page and post.tags -%}
      {%- assign intersect = post.tags | where_exp: "tag", "current_tags contains tag" -%}
      {%- if intersect != empty -%}
        {%- assign match_count = intersect | size -%}
        {%- assign post_with_score = post | merge: { "match_count": match_count } -%}
        {%- assign related = related | push: post_with_score -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

  {%- assign related = related | sort: "match_count" | reverse -%}
  {%- assign related = related | slice: 0, max_related -%}

  {%- if related != empty -%}
    <div class="related-posts">
      <h4>Artículos relacionados</h4>
      <ul>
        {%- for post in related -%}
          {%- assign intersect = post.tags | where_exp: "tag", "current_tags contains tag" -%}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            {%- for tag in intersect -%}
              <span class="tag">{{ tag }}</span>
            {%- endfor -%}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}

{%- endif -%}
