@use 'variables' as vars;

body {
    background-color: vars.$color-body-bg;
    font-size: 22px;
    font-family: vars.$font-serif;
    color: vars.$color-text;
    margin: 0 auto;
    padding: 0 vars.$padding vars.$padding vars.$padding;
    max-width: 100rem;
    position: relative;
}

header {
    font-family: vars.$font-sans;
    font-size: 0.85rem;

    .navbar {
        position: relative;
        display: flex;
        margin: 0.7rem 0.26rem 0.5rem 0.26rem;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-weight: 600;
            font-size: inherit;
            display: inline-block;
        }

        #toggle-nav {
            display: inline-block;
            margin-left: 1rem;
            text-decoration: none;
            cursor: pointer;
            color: vars.$color-text;
        }

        a {
            color: vars.$color-text;
            text-decoration: none;
            &:hover {
                cursor: pointer;
                color: vars.$color-link;
            }
        }
    }

    nav#main {
        background-color: vars.$color-dp-bg;
        border-radius: 1ex;
        padding: vars.$padding;
        position: absolute;
        z-index: 1000;
        right: 0;
        box-shadow: 0 0 10px #00000022;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin: 0.25rem 0;

                a.nav-link {
                    display: inline-block;
                    padding: 1ex 1em;
                    color: vars.$color-text;
                    text-transform: uppercase;
                    text-decoration: none;
                    &:hover {
                        color: vars.$color-link;
                    }
                }
            }
        }
    }
}

#dp {
    background-color: vars.$color-dp-bg;
    background: vars.$page-gradient;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    padding: 1.52em;
    border-radius: 0.78ex;
    box-shadow: 0 0 10px #00000022;

    > * {
        min-width: 0; // evita que el contenido fuerce el ancho
        overflow-wrap: break-word;
        // outline: 1px dashed vars.$color-soft-line;
    }

    img {
        mix-blend-mode: multiply;
        max-width: 100%;
    }

    a {
        text-decoration: none;
        color: vars.$color-link;
    }

    sidebar {
        position: relative;

        .title {
            font-weight: 100;
            font-size: 3rem;
            margin: 0 0 0.5em 0;
        }

        time {
            display: block;
            font-family: vars.$font-sans;
            font-size: 12px;
            text-align: right;
        }

        figure {
            margin: 0;
            text-align: center;

            img {
                border-radius: 0.5ex;
            }
        }
        a.btn-citar {
            position: absolute;
            bottom: 0;
            display: inline-block;
            line-height: 0;
            font-size: 3rem;
            cursor: pointer;
            border-radius: 5px;
            color: vars.$color-soft-line;
            text-shadow: -1px -1px 2px white;

            &:hover {
                color: vars.$color-link;
            }
        }
    }

    article {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: vars.$font-sans;
            font-weight: 700;
            font-size: 80%;
            color: vars.$color-title;
        }

        strong{
            font-weight: 500;
            color: vars.$color-strong;
        }

        code {
            font-size: 0.78rem;
            line-height: 100%;
        }

        hr {
            border-top: 1px dashed vars.$color-soft-line;
            border-bottom: none;
            mix-blend-mode: multiply;
        }
        sup {
            display: inline-block;
            margin-top: -0.5ex;
            font-weight: bold;
        }

        img{
            margin: 0 auto;
        }

        p {
            text-align: justify;
            hyphens: auto;
            overflow-wrap: break-word;
            word-break: break-word;
            &.caption{
                font-size: 75%;
                line-height: 110%;
                margin: 0 2em;
            }
            > img:only-child {
                display: block;
                margin: 0 auto;
            }
        }

    

        table {
            background-color: rgba(255, 255, 255, 0.504);
            font-size: 70%;
            font-family: vars.$font-sans;
            border-collapse: collapse;
            border-radius: 1ex;
            thead {
                border-bottom: 2px solid vars.$color-soft-line;
            }
            tbody {
                tr {
                    border-top: 1px solid vars.$color-soft-line;
                    td {
                        padding: 1ex;
                        vertical-align: text-top;
                    }
                }
            }
        }
        
        .footnote-ref{
            font-weight: 300;
        }
        .footnotes {
            font-size: 0.85em;
            margin-top: 2rem;

            ol {
                padding-left: 1.5rem;
            }

            a.footnote-ref {
                text-decoration: none;
            }

            a.footnote-back {
                margin-left: 0.5rem;
                text-decoration: none;
            }
        }

        .last-posts {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: masonry;
            gap: 1rem;

            a {
                display: inline-block;

                &:hover {
                    border-radius: 3px;
                    background-color: white;
                    outline: 1ex solid white;
                }

                img {
                    border-radius: 3px;
                }
            }

            h2 {
                margin: 1ex 0;
                font-weight: 400;
                text-transform: uppercase;
            }

            p {
                margin: 0;
                font-size: 0.76rem;
                font-family: vars.$font-sans;
                line-height: 105%;
                text-align: left;
            }
        }

        #comments {
            mix-blend-mode: multiply;
        }

        .center-poem {
            h2,
            h3 {
                text-align: center;
            }
            p {
                text-align: center;
            }
            h3 {
                font-family: vars.$font-serif !important;
                color: rgb(187, 31, 3) !important;
            }

            .language-plaintext.highlighter-rouge {
                pre {
                    white-space: normal;
                }
            }
            .poem {
                white-space: pre;
                font-family: vars.$font-serif;
                text-align: center;
                font-size: 90%;
                line-height: 145%;

                &.poemu {
                    white-space: normal;
                    font-size: 80%;
                    line-height: 110%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #dp {
        display: block;
        background: vars.$color-dp-bg;
    }
}

/* mastodon */

.mt-container .mt-body .mt-post:nth-of-type(n + 4) {
    display: none;
}

.mt-container {
    font-size: vars.$font-size-small;
    filter: invert(1) hue-rotate(180deg);
    mix-blend-mode: multiply;
    border-radius: 1.5ex;
    box-shadow:
        inset 0 0 27px rgba(255, 255, 255, 0.539),
        inset 0 0 3px #fff;
    max-height: 60vh;
    overflow: hidden !important;

    .mt-post {
        margin-bottom: 1rem;
        padding: 0.5rem;
        border-bottom: 1px dashed #ccc;
    }

    .mt-header,
    .mt-footer {
        display: none; // oculta avatar, fecha, botones, etc.
    }

    .mt-content {
        font-family: vars.$font-sans;
        line-height: 1.2;
    }
    .mt-post-avatar {
        filter: invert(1) hue-rotate(180deg);
    }
}

footer {
    margin: vars.$padding 0;
    p {
        margin: 0;
        text-align: center;
        font-family: vars.$font-sans;
        font-size: vars.$font-size-small;
        line-height: 144%;

        a {
            color: vars.$color-link;
            text-decoration: none;
            a {
                text-decoration: none;
                color: vars.$color-link;
            }
        }
    }
}

.last-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: masonry;
    gap: 1rem;

    a {
        display: inline-block;
        &:hover {
            border-radius: 3px;
            background-color: white;
            outline: 5px solid white;
        }
        img {
            border-radius: 3px;
        }
    }
    h2 {
        margin: 0;
    }
    p {
        margin: 0;
        font-size: 0.76rem;
        font-family: vars.$font-sans;
        line-height: 105%;
    }
}

.paginacion {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 0.5rem;

    a,
    span {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        background: #ccc;
        transition: background 0.2s;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        background: #ccc;
        transition: background 0.2s;
    }

    a:hover {
        background: #999;
        background: #999;
    }

    .actual {
        background: #333;
        background: #333;
    }
}


.axis-table {
    font-family: vars.$font-sans;
    font-size: vars.$font-size-small;
    text-align: center;

    th,
    td {
        padding: 1ex;
        a {
            color: rgb(187, 31, 3) !important;
        }
        a:hover {
            background-color: white;
        }
    }
}

.modal-citar {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.479); // fondo oscuro semitransparente

    .modal-contenido {
        background-color: vars.$color-dp-bg;
        margin: 10% auto;
        padding: 2rem;
        border: 1px solid #0000006d;
        width: 93%;
        max-width: 600px;
        border-radius: 1ex;
        position: relative;
        font-size: 85%;

        h3 {
            margin-top: 0;
            font-weight: 200;
        }

        h4 {
            font-family: vars.$font-sans;
            font-weight: 500;
            font-size: .65rem;
            color: vars.$color-title;
            text-transform: uppercase;
        }

        p{
            margin-left: 2em;
        }
    }

    .modal-cerrar {
        color: vars.$color-text;
        position: absolute;
        top: .5rem;
        right: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            color: vars.$color-link;
        }
    }
}
