@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


$font-serif: "EB Garamond", serif;
$font-sans: "Barlow", sans-serif;

$font-size-large: 3.5rem;
$font-size-medium: 1rem;
$font-size-small: .68rem;

$color-white: rgb(238, 241, 232);
$color-bg: #f76c26;
$color-fg: #2f0449cb;
$color-soft-line: rgba(248, 241, 200, 0.291);
$color-body-bg: #dcd8c9;
$color-dp-bg: #eeeadd;
$color-text: #68636ac2;
$color-link: #68636af7;